:root {
  --main-bg-color: #264653;
  --navbar-height: 64px;
  --footer-height: 96px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 997;
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--main-bg-color);
  color: white;
}

#footer {
  display: flex;
  justify-content: center;
  height: var(--footer-height);
  width: 100%;
  background-color: var(--main-bg-color);
  color: white;
}

#main {
  position: relative;
  min-height: calc(100vh - var(--footer-height));
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: calc(16px + var(--navbar-height)) 16px 16px;
}

#overlay {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
}

.modal {
  z-index: 999;
  background-color: white;
  border-radius: 16px;
  height: 50%;
  width: 75%;
  display: flex;
  filter: drop-shadow(0 0 2px white);
}

#scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 16px 0;
  margin-bottom: 5vh;
}

.difficulty-badge {
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 32px;
  color: white;
  font-weight: 700;
}

.difficulty-badge.easy {
  background: green;
}

.difficulty-badge.medium {
  background: orange;
}

.difficulty-badge.hard {
  background: red;
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

#question {
  margin-bottom: 32px;
}

#answer-button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 32px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 32px;
  background-color: #212121;
  z-index: -1;
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
  cursor: pointer;
}

button:hover::before {
  width: 100%;
}

button.correct,
button.correct::before {
  background-color: green;
  color: white;
  transition: none;
}

button.incorrect,
button.incorrect::before {
  background-color: red;
  color: white;
  transition: none;
}

.answer-button {
  width: 100%;
}

#next-button {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}
