:root {
  --main-bg-color: #264653;
  --navbar-height: 64px;
  --footer-height: 96px;
  --color-1: #2d4263;
  --color-2: #191919;
  --color-3: #cdbe78;
  --color-4: #f2f2f2;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Recharts CSS */
.recharts-polar-angle-axis-tick {
  font-size: 0.75rem;
  fill: var(--color-4);
}
